.idea/
.idea/vcs.xml
output.txt
.DS_Store
computed_data*
venv/
__pycache__/
academic-papers*
academic-papers/
.python-version
articles1.csv
articles1.csv.zip
dump.rdb
fake-news.zip
fake.csv
fakenews.csv


